/* ------------------------------------------------------------------------------------------ */
/*                                    FONT-FACE: IRAN SANS                                    */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------      REGULAR     ------------------------------------ */
@font-face {
	font-family: "Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../font/IRANSans_FaNum.ttf") format("woff2");
}

/* ------------------------------------       LIGHT      ------------------------------------ */
@font-face {
	font-family: "Light";
	font-style: normal;
	font-weight: 400;
	src: url("../font/IRANSans_FaNum_Light.ttf") format("woff2");
}

/* ------------------------------------       BOLD       ------------------------------------ */
@font-face {
	font-family: "Bold";
	font-style: normal;
	font-weight: 400;
	src: url("../font/IRANSans_FaNum_Bold.ttf") format("woff2");
}


/* ------------------------------------------------------------------------------------------ */
/*                                      FONT-FACE: SEGOE                                      */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------       LIGHT      ------------------------------------ */
// @font-face {
// 	font-family: "EnLight";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Segoe_Light.ttf") format("woff2");
// }



/* ------------------------------------       BOLD       ------------------------------------ */
// @font-face {
// 	font-family: "EnBold";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Segoe_Bold.ttf") format("woff2");
// }



/* ------------------------------------       light       ------------------------------------ */
// @font-face {
// 	font-family: "Junitta";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Junitta-400.otf") format("woff2");
// }


/* ------------------------------------------------------------------------------------------ */
/*                                     FONT-FACE: ICOMOON                                     */
/* ------------------------------------------------------------------------------------------ */
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?crmdbi');
  src:  url('../font/icomoon.eot?crmdbi#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?crmdbi') format('truetype'),
    url('../font/icomoon.woff?crmdbi') format('woff'),
    url('../font/icomoon.svg?crmdbi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* ------------------------------------------------------------------------------------------ */
/*                                      FONT-FACE: SEGOE                                      */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------       LIGHT      ------------------------------------ */
// @font-face {
// 	font-family: "SHABNAM REGULAR";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Shabnam.ttf") format("woff2");
// }


/* ------------------------------------       LIGHT      ------------------------------------ */
// @font-face {
// 	font-family: "SHABNAM LIGHT";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Shabnam-light.ttf") format("woff2");
// }

/* ------------------------------------       BOLD       ------------------------------------ */
// @font-face {
// 	font-family: "SHABNAM BOLD";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url("../font/Shabnam-Bold.ttf") format("woff2");
// }
