

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit-m:before {
  content: "\e940";
  color: #6e748e;
}
.icon-credit-card-b:before {
  content: "\e932";
  color: #6893ee;
}
.icon-email-blue:before {
  content: "\e933";
  color: #6893ee;
}
.icon-lock:before {
  content: "\e934";
  color: #6893ee;
}
.icon-moon:before {
  content: "\e935";
  color: #6893ee;
}
.icon-next:before {
  content: "\e936";
  color: #6893ee;
}
.icon-phone-call-b:before {
  content: "\e937";
  color: #6893ee;
}
.icon-refer:before {
  content: "\e938";
  color: #6893ee;
}
.icon-resume-and-cv-b:before {
  content: "\e939";
  color: #6893ee;
}
.icon-smartphone-blue:before {
  content: "\e93a";
  color: #6893ee;
}
.icon-user-blue:before {
  content: "\e93b";
  color: #6893ee;
}
.icon-arraow-pp:before {
  content: "\e93c";
  color: #6e748e;
}
.icon-arraw-p:before {
  content: "\e93d";
  color: #6e748e;
}
.icon-filter-p:before {
  content: "\e93e";
  color: #6e748e;
}
.icon-search-p:before {
  content: "\e93f";
  color: #6e748e;
}
.icon-arrow:before {
  content: "\e91f";
  color: #6e748e;
}
.icon-card-p:before {
  content: "\e920";
  color: #6893ee;
}
.icon-credit-card:before {
  content: "\e921";
  color: #6893ee;
}
.icon-email-p:before {
  content: "\e922";
  color: #6893ee;
}
.icon-phone-call:before {
  content: "\e923";
  color: #6893ee;
}
.icon-resume-and-cv:before {
  content: "\e924";
  color: #6893ee;
}
.icon-smartphone-p:before {
  content: "\e925";
  color: #6893ee;
}
.icon-user-m:before {
  content: "\e926";
  color: #6e748e;
}
.icon-bit-m:before {
  content: "\e927";
  color: #6e748e;
}
.icon-card-m:before {
  content: "\e928";
  color: #6e748e;
}
.icon-cart-m:before {
  content: "\e929";
  color: #6e748e;
}
.icon-chat-m:before {
  content: "\e92a";
  color: #6e748e;
}
.icon-dashboard-m:before {
  content: "\e92b";
  color: #6e748e;
}
.icon-notification:before {
  content: "\e92e";
  color: #6e748e;
}
.icon-purchases-m:before {
  content: "\e92f";
  color: #6e748e;
}
.icon-send-m:before {
  content: "\e930";
  color: #6e748e;
}
.icon-transfer-m:before {
  content: "\e931";
  color: #6e748e;
}
.icon-gmail-b:before {
  content: "\e90e";
  color: #6893ee;
}
.icon-instagram-b:before {
  content: "\e90f";
}
.icon-linkedin-b:before {
  content: "\e910";
}
.icon-phone-b:before {
  content: "\e911";
  color: #6893ee;
}
.icon-search .path1:before {
  content: "\e912";
  color: rgb(251, 187, 0);
}
.icon-search .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(81, 142, 248);
}
.icon-search .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(40, 180, 70);
}
.icon-search .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(241, 67, 54);
}
.icon-telegram-b:before {
  content: "\e916";
}
.icon-user .path1:before {
  content: "\e917";
  color: rgb(104, 147, 238);
}
.icon-user .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-whatsapp-b:before {
  content: "\e91e";
}
.icon-gmail:before {
  content: "\e907";
  color: #fff;
}
.icon-instagram:before {
  content: "\e908";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e909";
  color: #fff;
}
.icon-phone:before {
  content: "\e90a";
  color: #fff;
}
.icon-message:before {
  content: "\e90b";
  color: #fff;
}
.icon-telegram:before {
  content: "\e90c";
  color: #fff;
}
.icon-whatsapp:before {
  content: "\e90d";
  color: #fff;
}
.icon-survey .path1:before {
  content: "\e903";
  color: rgb(104, 147, 238);
}
.icon-survey .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(104, 147, 238);
}
.icon-survey .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(141, 121, 234);
}
.icon-survey .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(104, 147, 238);
}
.icon-home .path1:before {
  content: "\e900";
  color: rgb(104, 147, 238);
}
.icon-home .path2:before {
  content: "\e901";
  margin-left: -1.06640625em;
  color: rgb(141, 121, 234);
}
.icon-home .path3:before {
  content: "\e902";
  margin-left: -1.06640625em;
  color: rgb(141, 121, 234);
}
