/* ------------------------------------------------------------------------------------------ */
/*                                            CORE                                            */
/* ------------------------------------------------------------------------------------------ */
$viewport-basis-width: 375; // iphone6/7/8 width Based on pixels
$viewport-basis-height: 667; // iphone6/7/8 height Based on pixels


/* ------------------------------------------------------------------------------------------ */
/*                                            GRID                                            */
/* ------------------------------------------------------------------------------------------ */
// $gutter: get-vw(20px);
$gutter: .9375rem;
$gutterInMobile: .625rem;


/* ------------------------------------------------------------------------------------------ */
/*                                           LAYOUT                                           */
/* ------------------------------------------------------------------------------------------ */
$headerMain_x1_height: 66px;



$font-Family-Junitta : 'Junitta';


/* ------------------------------------------------------------------------------------------ */
/*                                           icomoon icon  variable                                         */
/* ------------------------------------------------------------------------------------------ */
$menu-arrow-left : '\e905';
$menu-arrow-right :'\e906';
$menu-arrow-bottom:'\e908';

$menu-arrow-responsive : "\e91a";
$menu-arrow-responsive-open : "\e919";
