.pv-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: 'Regular';
	background: #8D79EA;
	color: $textBodyColorWhite;

	&:visited {
		color: #fff;
	}

	&._box-shadow {
		@include box-shadow-two;
	}

	&._lg {
		width: 205px;
		height: 57px;
		border-radius: 39px;
		font-size: 23px;
	}

	&._md {
		width: 182px;
		height: 50px;
		border-radius: 31px;
	}

	&._md_2 {
		width: 171px;
		height: 38px;
		border-radius: 19px;
		font-size: 14px;
	}

	&._md_3 {
		width: 146px;
		height: 50px;
		border-radius: 15px;
		font-size: 14px;
		margin-right: 9px;
	}

	&._sm {
		width: 103px;
		height: 38px;
		border-radius: 19px;
	}

	&._sm_1 {
		width: 221px;
		height: 41px;
		border-radius: 19px;
	}

	&._sm_2 {
		width: 103px;
		height: 44px;
		border-radius: 19px;
	}

	&._sm_3 {
		width: 113px;
		height: 41px;
		border-radius: 19px;
	}

	&._text_white {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	&._blue {
		background-color: $linkBackColorPrimary;

		&:hover {
			background-color: $linkBackColorHoverPrimary;
		}
	}

	&._purple {
		background-color: $linkBackColorSecondary;

		&:hover {
			background-color: $linkBackColorHoverSecondary;
		}
	}

	&._green {
		background-color: #12A73A;

		&:hover {
			background-color: #0f812e;
		}
	}

	&._red {
		background-color: #FF0000;

		&:hover {
			background-color: #d30101;
		}
	}

	&._gary {
		background-color: #6e6e6e;

		&:hover {
			background-color: #535353;
		}
	}

	&._w-100 {
		width: 100%;
	}

	&._outline {
		background-color: $transparent !important;
		border: 1px solid;

		&._blue {
			border-color: $linkBackColorPrimary;
			color: $linkBackColorPrimary;

			&:hover {
				// background-color: $linkBackColorHoverPrimary !important;
				background-color: $linkBackColorPrimary !important;
				color: $textBodyColorWhite;
			}
		}

		&._purple {
			border-color: $linkBackColorSecondary;
			color: $linkBackColorSecondary;

			&:hover {
				// background-color: $linkBackColorHoverSecondary !important;
				background-color: $linkBackColorSecondary !important;
				color: $textBodyColorWhite;
			}
		}
	}

	&:hover {
		color: $textBodyColorWhite;
	}

	&:visited {
		color: $textBodyColorWhite;
	}
}
// ----------------------------------------------------------------------------------------------
