/* ------------------------------------------------------------------------------------------ */
/*                                          BOX:  X1                                          */
/* ------------------------------------------------------------------------------------------ */
.box-content-x4 {
	padding: 0 15px;
	.container_x4 {
		max-width: 727px;
		text-align: center;
		margin: auto;
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 35px;
		margin-top: 13px;
	}
}
