/* ------------------------------------------------------------------------------------------ */
/*                                         PAGE: auth                                         */
/* ------------------------------------------------------------------------------------------ */
.auth-site {
	background-color: #6893EE;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;

	.logo {
		text-align: center;
	}
	._title {
		display: flex;
		justify-content: center;
	}
	h6 {
		border-bottom: 2px solid #8D79EA;
		padding: 20px 39px 8px 39px;
		margin-bottom: 24px;
	}
	.form-sec {
		padding: 30px 25px 44px 25px;
		max-width: 383px;
		margin: auto;
		background-color: #fff;
		border-radius: 70px;
		width: 100%;
		z-index: 2;

		._form-flex {
			display: flex;
			justify-content: space-between;
			margin: 17px 0 34px 0;
		}
		._checkbox {
			display: flex;
			align-items: center;
			label {
				margin: 0 5px;
			}
			input {
				margin: 0 !important;
			}
		}
		li {
			margin-bottom: 12px;
			position: relative;
		}
		.submit {
			margin-bottom: 46px;
		}
		._register {
			margin-bottom: 30px;
			p {
				text-align: center;
				margin-bottom: 18px;
				font-size: 13px;
			}
		}
		._submit-btn {
			margin-top: 20px;
		}
		label._obs {
			position: absolute;
	    top: 0;
	    right: 0;
	    height: 42px;
	    width: 60px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		}

	}
	.bk {
			position: absolute;
			left: 0;
			bottom: 0;

			._img {
				position: absolute;
				left: 95px;
				bottom: 52px;
			}
	}
}

@media (max-width:1023px) {
			.auth-site .bk ._img {
				width: 128px;
		    position: absolute;
		    left: 33px;
		    bottom: 0;
		}
}
