body.profile {
	[data-menu="horizontal"] {
		/* ------------------------------------    GENERAL   ------------------------------------ */
		justify-content: flex-start;
	}

	.headerMain {
		border-top: 6px solid #dae7fe;
		border-radius: 0;
	}
}

.headerMain {
	background: $backgroundColorOne;
	padding: 19px 0;
	width: 100%;
	position: fixed;
	z-index: 20;
	top: 0;
	border-top: 6px solid #DAE7FE;
	box-shadow: 0 0 6px #00000038;
	border-radius: 0 0 42px 42px;

	.nav-two {
		display: flex;
		justify-content: space-around;

		li {
			&:last-child {
				a {
					margin-right: 10px;
				}
			}
		}
	}
}

[data-menu="horizontal"] {
	/* ------------------------------------    GENERAL   ------------------------------------ */
	justify-content: center;
	margin-top: 8px;

	ul {
		li {
			a {
				color: $textBodyColorBlack;
				padding: 0 10px;

				span {}
			}
		}
	}
	/* ------------------------------------   LEVEL 01   ------------------------------------ */
	> ul {
		> li {
			> a {
				> span {}
			}

			&._parent {
				> a {
					padding: 0;

					&:before {
						display: none;
					}
				}
			}

			&._active,
			&:hover {
				> a {
					color: $linkColorHeaderHover;

					> span {}
				}

				&._parent {
					> a {
						&:before {}
					}
				}
			}
		}

		> ._parent {
			position: relative;

			> .level_n {
				position: absolute;
				width: 230px;
				display: none;
			}
		}
	}
	/* ------------------------------------     BASIC    ------------------------------------ */
	._basic {
		.level_n {
			> li {
				> a {
					> span {
						@if $DIRECTION == rtl {
							font-size: 14px;
						} @else {
							text-transform: capitalize;
						}
					}
				}

				&._parent {
					> a {
						&:before {}
					}
				}

				&:hover {
					> a {
						> span {}
					}

					&._parent {
						> a {
							&:before {}
						}
					}
				}
			}
		}
	}
	/* ------------------------------------     MEGA     ------------------------------------ */
	._mega {
		._megaWrapper {
			> ul {
				> li {
					&:not(._parent) {
						a {
							img {}
						}
					}
				}
			}
		}

		._parent {
			> a {
				> span {}
			}

			> ul {
				> li {
					&:before {}

					&:last-child {}

					> a {
						> span {}

						&:hover {}
					}
				}
			}
		}
	}
}

[data-menu=vertical] {}
// .off-canvas {
// 	&._canvas_x1 {
// 		margin-top: 146px;
// 		background-color: $backgroundColorOne;
//
// 		._res_bg {
// 			background-image: url("../_upload/res_bg.jpg");
// 			position: absolute;
// 			#{$default-side}: 0;
// 			top: 0;
// 			height: 100%;
// 			width: 100%;
// 			opacity: 20%;
// 		}
// 	}
// }
// body.sticky-menu {
// 	.headerMain {
// 		background: #000;
// 		padding: 2px 0;
//
// 		.menu-sec-one {
// 			display: none;
// 		}
//
// 		[menu_item=primary]:after,
// 		[menu_item=primary]:before {
// 			display: none;
// 		}
// 	}
//
// 	.off-canvas {
// 		&._canvas_x1 {
// 			margin-top: 55px;
// 		}
// 	}
//
// 	.js-off-canvas-overlay {
// 		margin-top: 55px;
// 	}
// }
@media (max-width: 1023px) {
	body.profile {
		[data-menu="horizontal"] {
			display: none;
		}
	}
}
@media (max-width:1365px) {}
