body.profile {
  [data-menu="horizontal"] {
    /* ------------------------------------    GENERAL   ------------------------------------ */
    justify-content: flex-start;
  }

  .headerMain {
    border-top: 6px solid #dae7fe;
    border-radius: 0;
  }
}

.headerMain {
  background: #191a1f;
  padding: 19px 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  border-bottom: 1px solid #252930;
  box-shadow: 0 0 6px #00000038;
  //border-radius: 0 0 42px 42px;
  z-index: 99999;

  .nav-two {
    display: flex;
    justify-content: flex-end;

    li {
      &:last-child {
        a {
          margin-right: 10px;
        }
      }

      a {
        background-color: transparent;
        font-size: 14px;
        width: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Regular';
        color: $textBodyColorWhite;
        height: 30px;

        &:hover {
          color: $linkBackColorHoverSecondary;
        }
      }

      &:last-child {
        a {
          border-radius: 5px;
          background-color: $secondaryColor;

          &:hover {
            color: $textBodyColorWhite;
            background-color: $linkBackColorHoverSecondary;
          }
        }
      }
    }
  }
}

.mobile-menu-icon {
  display: none;
}

.menu-section {
  display: block;
}

[data-menu="horizontal"] {
  /* ------------------------------------    GENERAL   ------------------------------------ */
  //justify-content: center;
  margin-top: 8px;

  ul {
    li {
      a {
        color: $textBodyColorWhite;
        padding: 0 7px;
        font-size: 12px;

        span {
        }
      }
    }
  }

  /* ------------------------------------   LEVEL 01   ------------------------------------ */
  > ul {
    > li {
      > a {
        > span {
        }
      }

      &._parent {
        > a {
          padding: 0;

          &:before {
            display: none;
          }
        }
      }

      &._active,
      &:hover {
        > a {
          color: $linkColorHeaderHover;

          > span {
          }
        }

        &._parent {
          > a {
            &:before {
            }
          }
        }
      }
    }

    > ._parent {
      position: relative;

      > .level_n {
        position: absolute;
        width: 230px;
        display: none;
      }
    }
  }

  /* ------------------------------------     BASIC    ------------------------------------ */
  ._basic {
    .level_n {
      > li {
        > a {
          > span {
            @if $DIRECTION == rtl {
              font-size: 14px;
            } @else {
              text-transform: capitalize;
            }
          }
        }

        &._parent {
          > a {
            &:before {
            }
          }
        }

        &:hover {
          > a {
            > span {
            }
          }

          &._parent {
            > a {
              &:before {
              }
            }
          }
        }
      }
    }
  }

  /* ------------------------------------     MEGA     ------------------------------------ */
  ._mega {
    ._megaWrapper {
      > ul {
        > li {
          &:not(._parent) {
            a {
              img {
              }
            }
          }
        }
      }
    }

    ._parent {
      > a {
        > span {
        }
      }

      > ul {
        > li {
          &:before {
          }

          &:last-child {
          }

          > a {
            > span {
            }

            &:hover {
            }
          }
        }
      }
    }
  }
}

[data-menu=vertical] {
}


@media (max-width: 1365px) {
}

@media (max-width: 1199px) {
  .mobile-menu-icon {
    display: block;
    padding-right: 37px;
  }
  .menu-section {
    display: none;
  }
  .headerMain {
    .nav-two {
      justify-content: flex-end;
      padding: 0 0 0 35px;
    }
  }
}

@media (max-width: 1023px) {
  body.profile {
    [data-menu="horizontal"] {
      display: none;
    }
  }
}

@media (max-width: 639px) {
  .box-content-x1 {
    padding-top: 142px;
    background-size: 614px;

    .content {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
  .headerMain {
    padding: 13px 0;
    border-radius: 0 0 25px 25px;

    .nav-two {
      justify-content: flex-end;
      padding: 0 0 0 18px;

      .pv-link {
        width: 50px !important;
        height: 34px !important;
        background-color: #ffffff !important;
        color: #6893EE;

        &._purple {
          color: #8d79ea !important;
        }
      }
    }
  }
}
